@import "style.scss";

#section_order {
    min-height: 675px;
}

.recap_order {
    @media screen and (min-width: 1400px) {
        width: 65vw;
    }
    width: 80vw;
    border: 3px solid #c9b2ff;
    border-radius: 10px;
}

.text-confirm {
    font-weight: bold;
    font-size: 25px;
    color: #693ecc;
}

.font-text {
    font-size: 20px;
}