@import "style.scss";

#section_product {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 991px) {
        flex-direction: column;
    }
}

.block_product {
    padding-right: 15px;
    &_picture {
        border: 3px solid #c9b2ff;
        box-shadow: 0 0 10px #555555;
        border-radius: 20px;
        max-width: 100%;
    }
    @media screen and(max-width: 991px) {
        padding-right: 0;
        padding-bottom: 20px;
    }    
}

.block_content {
    display: grid;
    grid-template-columns: 1 1;
    grid-template-rows: auto auto auto auto auto;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    box-shadow: 0 0 10px #555555;
    border-radius: 20px;
    font-size: 20px;
}

.teddy_name {
    grid-column: 1/3;
    grid-row: 1/2;
}

.teddy_description {
    grid-column: 1/3;
    grid-row: 2/3;
}

#colors_options {
    grid-column: 1/2;
    grid-row: 3/4;
}

#quantity_options {
    grid-column: 1/2;
    grid-row: 4/5;
}

.teddy_price {
    grid-column: 1/2;
    grid-row: 5/6;
}

.btn-basket {
    grid-column: 2/3;
    grid-row: 3/6;
    font-size: 25px;
    border-radius: 30px;
}

.row_wish {
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 30px;
}

.block_wish {
    position: relative;
    border: 2px solid black;
    box-shadow: 0 0 10px #555555;
    border-radius: 30px;
    &:hover {
        border-color: #f2ceff;
        transition: 300ms ease-in-out;
    }
    &_image {
        width: 100%;
        border: 3px solid #c9b2ff;
        box-shadow: 0 0 10px #555555;
        border-radius: 20px;
        
    }
}

.product-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}