@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: "Belligerent Madness";
    src: url("../fonts/Belligerent-Madness.ttf.woff") format("woff"),
            url("../fonts/Belligerent-Madness.ttf.eot") format("eot");
}

.header {
    display: flex;
    background-color: #cab2ff; 
}

.logo-orinoco {
    width: 300px;
    @media screen and (max-width: 1024px) {
        max-width: 200px;
    }
    @media screen and (max-width: 572px) {
        max-width: 150px;
    }
}

.basket-box {
    display: flex;
    justify-content: center; 
}

.logo-basket {
    width: 40px;
    @media screen and (max-width: 572px) {
        max-width: 25px;
    }
}