@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: 'OpenSans';
    src:url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Belligerent-Madness';
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: inherit;
    padding: 0;
    transition: 300ms ease-in-out;
    &:focus, &:hover {
        color: white;
        background-color: #c9b2ff;
        transition: 300ms ease-in-out;
    }
}

.header {
    display: flex;
    background-color: #f2ceff; 
}

.logo-orinoco {
    width: 300px;
    @media screen and (max-width: 1024px) {
        max-width: 200px;
    }
}

.basket-box {
    display: flex;
    justify-content: center; 
}

.logo-basket {
    width: 40px;
}

.section_wish {
    min-height: 300px;
}

.footer {
    background-color: #f2ceff;
}